<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <!-- Brand logo (routes to home) -->
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
      <%= image_tag "https://res.cloudinary.com/dykvpql2j/image/upload/v1765040660/logo_gkhqhh.png",
                    width: 40,
                    height: 40,
                    alt: "Friend Fusion Logo",
                    class: "logo-img" %>
      <span class="brand-name">Friend Fusion</span>
    <% end %>

    <!-- Mobile toggle -->
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <div></div>
        <div></div>
        <div></div>
      </span>
    </button>

   <!-- Nav links + avatar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <!-- Top row: name left, avatar right -->
          <li class="nav-item d-flex justify-content-between align-items-center w-100 py-2">
            <span class="fw-bold"><%= current_user.name || current_user.email %></span>
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key,
                              width: 40, height: 40, crop: :fill, gravity: :face,
                              class: "rounded-circle",
                              alt: "User avatar" %>
            <% else %>
              <%= image_tag "def_avatar.jpg",
                            width: 40, height: 40,
                            class: "rounded-circle",
                            alt: "Default avatar" %>
            <% end %>
          </li>

          <!-- Menu links -->
          <li class="nav-item"><%= link_to "My Events", my_events_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              Notifications
              <% unread_count = current_user.notifications.where(read: false).count %>
              <% if unread_count > 0 %>
                <span class="badge bg-danger rounded-pill"><%= unread_count %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
