<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <div class="brand-logo">
        <%= image_tag "https://res.cloudinary.com/dykvpql2j/image/upload/v1765040660/logo_gkhqhh.png",
                      width: 40,
                      height: 40,
                      alt: "Friend Fusion Logo" %>
      </div>
      <span class="brand-name">Friend Fusion</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "My Events", my_events_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              Notifications
              <% unread_count = current_user.notifications.where(read: false).count %>
              <% if unread_count > 0 %>
                <span class="badge bg-danger rounded-pill"><%= unread_count %></span>
              <% end %>
            <% end %>
          </li>

          <!-- Avatar dropdown -->
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar.attached? %>
                <%= cl_image_tag current_user.avatar.key,
                                 crop: :fill, gravity: :face,
                                 class: "avatar rounded-circle",
                                 alt: "User avatar" %>
              <% else %>
                <%= image_tag "def_avatar.jpg",
                              class: "avatar rounded-circle",
                              alt: "Default avatar" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <!-- Larger avatar preview -->
              <div class="mb-2">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key,
                                   width: 80, height: 80, crop: :fill, gravity: :face,
                                   class: "rounded-circle mb-2",
                                   alt: "User avatar large" %>
                <% else %>
                  <%= image_tag "def_avatar.png",
                                class: "rounded-circle mb-2",
                                alt: "Default avatar large" %>
                <% end %>
              </div>
              <div class="dropdown-header"><%= current_user.name || current_user.email %></div>
              <%= link_to "My Events", events_path, class: "dropdown-item" %>
              <%= link_to "Notifications", notifications_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Events", events_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
