<head>
  <title>Friend Fusion</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Meow+Script&display=swap" rel="stylesheet">
</head>

<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <!-- Desktop -->
      <div class="d-none d-md-flex align-items-end text-center text-white w-100 position-relative"
           style="min-height: 70vh; min-width: 100vw; background-image: url(<%= image_path 'banner1bis.jpg' %>);
                  background-size: cover; background-position: center; background-repeat: no-repeat">
        <%# <div class="container mb-4">
          <h1 class="display-4 meow-script">Welcome to Friend Fusion</h1>
          <p class="lead meow-script">Connect, chat, and grow together.</p>
        </div> %>
      </div>

      <!-- Mobile -->
      <div class="d-flex d-md-none align-items-end text-center text-white w-100 position-relative"
           style="min-height: 300px; background-image: url(<%= image_path 'banner1bis.jpg' %>);
                background-size: cover; background-position: center; background-repeat: no-repeat">
        <%# <div class="container mb-3">
          <h1 class="h3 meow-script">Welcome to Friend Fusion</h1>
          <p class="small meow-script">Connect, chat, and grow together.</p>
        </div> %>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <!-- Desktop -->
      <div class="d-none d-md-flex align-items-end text-center text-white w-100 position-relative"
           style="min-height: 70vh; min-width: 100vw; background-image: url(<%= image_path 'banner2bis.jpg' %>);
                  background-size: cover; background-position: center; background-repeat: no-repeat">
        <%# <div class="container mb-4">
          <h1 class="display-4 meow-script" style="color: #c2c1baff;">AI-powered Conversations</h1>
          <p class="lead meow-script">Smart, playful, and emotionally aware.</p>
        </div> %>
      </div>

      <!-- Mobile -->
      <div class="d-flex d-md-none align-items-end text-center text-white w-100 position-relative"
           style="min-height: 300px; background-image: url(<%= image_path 'banner2bis.jpg' %>);
                  background-size: cover; background-position: center; background-repeat: no-repeat">
        <%# <div class="container mb-3">
          <h1 class="h3 meow-script">AI-powered Conversations</h1>
          <p class="small meow-script">Smart, playful, and emotionally aware.</p>
        </div> %>
      </div>
    </div>

  </div>

  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<div class="container my-4">
  <div class="row gx-0 gy-5">
    <% @topics.each do |topic| %>
      <div class="col-6 col-md-4 px-2">
        <%= link_to topic_events_path(topic), class: "topic-link d-block text-decoration-none" do %>
          <div class="topic-block d-flex flex-column text-white rounded overflow-hidden position-relative">
            <% if topic.topic_name.present? %>
              <span class="badge text-white position-absolute top-0 end-0 m-2 z-1"><%= topic.topic_name %></span>
            <% end %>

            <div class="topic-content bg-topic-<%= topic.topic_name.downcase %> d-flex align-items-center justify-content-center">
            </div>

            <div class="topic-description px-2 py-1">
              <%= topic.topic_description %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
