<!DOCTYPE html>
<html>
  <head>
    <title>FriendFusion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

  <!– Facebook Open Graph data –>
  <meta property=”og:title” content=”<%= meta_title %>” />
  <meta property=”og:type” content=”website” />
  <meta property=”og:url” content=”<%= request.original_url %>” />
  <meta property=”og:image” content=”<%= meta_image %>” />
  <meta property=”og:description” content=”<%= meta_description %>” />
  <meta property=”og:site_name” content=”<%= meta_title %>” />

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <!-- Back to Top Button -->
    <a href="#"
      id="back-to-top"
      data-controller="back-to-top"
      data-action="click->back-to-top#scrollUp"
      class="btn rounded-circle d-flex align-items-center justify-content-center"
      role="button"
      style="position: fixed; bottom: 5rem; right: 1rem; z-index: 1030; width: 3rem; height: 3rem; background-color: rgba(13, 110, 253, 0.7); border: none;">
      <i class="bi bi-arrow-up"></i>
    </a>
  </body>
</html>
